infra/integration-account/schemas/X12_00603_997.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
  X12 997 Functional Acknowledgment — version 006030 (interchange control 00603).

  Authored by Simon (EDI Analyst) for the supplier-inbound 997 epic. Segment
  structure and element semantics are grounded against Microsoft Learn:
    https://learn.microsoft.com/azure/logic-apps/logic-apps-enterprise-integration-x12-997-acknowledgment#997-ack-segments
  Namespace, base X12 simple types, composite modelling (ref'ed global element),
  loop-wrapper convention (AK2Loop1 / AK3Loop1), and inline ST/SE are mirrored
  VERBATIM from the committed Microsoft official schema
  infra/integration-account/schemas/X12_00603_850.xsd so the two schemas are
  structurally consistent and both validate under the same X12 EDI namespace.

  The transaction-set body only (ST .. SE). ISA/GS enveloping and all control
  numbers (ISA13 / GS06 / ST02) are AGREEMENT-generated by the X12 send agreement
  in the Integration Account — this schema does NOT model the envelope.

  FLAG (see .squad/decisions/inbox/simon-997-receive.md, Open Questions):
    The X12 Decode action auto-generates a 4010-COMPLIANT 997. This 006030 schema
    is for the ENCODE / validate path only. If the supplier emits the 997 via
    Decode auto-generation, its structure is 4010, not this schema. Resolve the
    generation mechanism with Mal before binding this schema to an Encode step.
-->
<xs:schema xmlns:btsedi="http://schemas.microsoft.com/BizTalk/2005/EdiSchemaEditorExtension" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" xmlns="http://schemas.microsoft.com/BizTalk/EDI/X12/2006" targetNamespace="http://schemas.microsoft.com/BizTalk/EDI/X12/2006" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <schemaEditorExtension:schemaInfo namespaceAlias="btsedi" extensionClass="Microsoft.BizTalk.Edi.SchemaEditorExtension.EdiSchemaExtension" standardName="EDI" xmlns:schemaEditorExtension="http://schemas.microsoft.com/BizTalk/2003/SchemaEditorExtensions" />
      <b:schemaInfo version="1.0" document_type="997" standard="EDI" standards_version="00603" root_reference="X12_00603_997" displayroot_reference="X12_00603_997" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" X12ConditionDesignator_Check="No" />
    </xs:appinfo>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation xml:lang="en">Functional Acknowledgment (997) — modelled for the AzLogicAppsAS2X12Demo supplier IA. Not a Microsoft-shipped file.</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>Schema name: X12_6030_997</xs:documentation>
  </xs:annotation>
  <xs:element name="X12_00603_997">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="postfix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Functional Acknowledgment" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ST">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo notes="Transaction Set Header" />
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ST01">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Transaction Set Identifier Code_143" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="X12_ID">
                    <xs:minLength value="3" />
                    <xs:maxLength value="3" />
                    <xs:enumeration value="997" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ST02">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Transaction Set Control Number_329" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="X12_AN">
                    <xs:minLength value="4" />
                    <xs:maxLength value="9" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="0" name="ST03">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Implementation Convention Preference_1705" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="X12_AN">
                    <xs:minLength value="1" />
                    <xs:maxLength value="9" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element ref="AK1">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="AK1" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Functional Group Response Header" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="999999" ref="AK2Loop1">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for Transaction Set Response" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element ref="AK9">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="AK9" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Functional Group Response Trailer" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="SE">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo notes="Transaction Set Trailer" />
            </xs:appinfo>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SE01">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Number of Included Segments_96" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="X12_AN">
                    <xs:minLength value="1" />
                    <xs:maxLength value="10" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="SE02">
                <xs:annotation>
                  <xs:appinfo>
                    <b:fieldInfo notes="Transaction Set Control Number_329" />
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="X12_AN">
                    <xs:minLength value="4" />
                    <xs:maxLength value="9" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- ======================================================================
       AK1 — Functional Group Response Header (M, max 1)
       Identifies the received functional group being acknowledged.
       ====================================================================== -->
  <xs:element name="AK1">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="AK1" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Functional Group Response Header" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AK101">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Functional Identifier Code_479 (GS01 of the acknowledged group)" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="2" />
              <xs:maxLength value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="AK102">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Group Control Number_28 (references received GS06 / GE02)" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="9" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="AK103">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Version / Release / Industry Identifier Code_480 (echoes received GS08; supports 5010-compliant 997)" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="12" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- ======================================================================
       AK2Loop1 — Transaction Set Response loop (O, repeat 999999)
       AK2 + (AK3Loop1 error detail) + AK5. Emitted per acknowledged /
       rejected transaction set.
       ====================================================================== -->
  <xs:element name="AK2Loop1">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for Transaction Set Response" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="AK2">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="AK2" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Transaction Set Response Header" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="999999" ref="AK3Loop1">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for Data Segment Note" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element ref="AK5">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="AK5" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Transaction Set Response Trailer" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- AK2 — Transaction Set Response Header (M within loop, max 1) -->
  <xs:element name="AK2">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="AK2" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Transaction Set Response Header" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AK201">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Transaction Set Identifier Code_143 (ST01 of the acknowledged set, e.g. 850)" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="3" />
              <xs:maxLength value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="AK202">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Transaction Set Control Number_329 (references received ST02 / SE02)" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="4" />
              <xs:maxLength value="9" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="AK203">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Implementation Convention Reference_1705 (echoes received ST03; supports 5010-compliant 997)" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="35" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- ======================================================================
       AK3Loop1 — Data Segment Note loop (O, repeat 999999)
       AK3 + (AK4 data-element notes). One loop per errored segment.
       ====================================================================== -->
  <xs:element name="AK3Loop1">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_record" count_ignore="yes" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Loop for Data Segment Note" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="AK3">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="AK3" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Data Segment Note" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="99" ref="AK4">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="prefix" tag_name="AK4" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Data Element Note" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- AK3 — Data Segment Note (O within loop, max 1) -->
  <xs:element name="AK3">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="AK3" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Data Segment Note" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AK301">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Segment ID Code_721 (X12 segment ID in error)" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="2" />
              <xs:maxLength value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="AK302">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Segment Position in Transaction Set_719 (ST = 1)" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="AK303">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Loop Identifier Code_447 (bounded LS/LE loop identifier)" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="AK304">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Segment Syntax Error Code_720 (see AK304 error codes)" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="1" />
              <xs:maxLength value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- AK4 — Data Element Note (O, max 99 per AK3); AK401 is composite C030 -->
  <xs:element name="AK4">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="AK4" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Data Element Note" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="C030">
          <xs:annotation>
            <xs:appinfo>
              <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_subfield" count_ignore="yes" sequence_number="1" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="AK401 Position in Segment (composite C030)" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="AK402">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Data Element Reference Number_725 (simple X12 element number of element in error)" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="4" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="AK403">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Data Element Syntax Error Code_723 (see AK403 error codes)" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="1" />
              <xs:maxLength value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="AK404">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Copy of Bad Data Element_724 (not used for invalid-character errors)" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_AN">
              <xs:minLength value="1" />
              <xs:maxLength value="99" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- C030 — composite "Position in Segment" (AK401). FLAG: AK401.3 is a
       5010/006030 addition; verified against Learn AK401 description. -->
  <xs:element name="C030">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="infix" delimiter_type="inherit_subfield" count_ignore="yes" sequence_number="1" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Position in Segment" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="C03001">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Element Position in Segment_722 (AK401.1)" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="C03002">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Component Data Element Position in Composite_1528 (AK401.2)" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="C03003">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Repeating Data Element Position_1686 (AK401.3; supports 5010-compliant 997)" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="4" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- AK5 — Transaction Set Response Trailer (M within loop, max 1) -->
  <xs:element name="AK5">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="AK5" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Transaction Set Response Trailer" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AK501">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Transaction Set Acknowledgment Code_717 (A/E/P/R; see AK501 error codes)" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="1" />
              <xs:maxLength value="1" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="AK502">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Transaction Set Syntax Error Code_718 (see AK502-506 error codes)" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="1" />
              <xs:maxLength value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="AK503">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Transaction Set Syntax Error Code_718" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="1" />
              <xs:maxLength value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="AK504">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Transaction Set Syntax Error Code_718" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="1" />
              <xs:maxLength value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="AK505">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Transaction Set Syntax Error Code_718" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="1" />
              <xs:maxLength value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="AK506">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Transaction Set Syntax Error Code_718" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="1" />
              <xs:maxLength value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- ======================================================================
       AK9 — Functional Group Response Trailer (M, max 1)
       Group-level accept/reject + counts for the acknowledged group.
       ====================================================================== -->
  <xs:element name="AK9">
    <xs:annotation>
      <xs:appinfo>
        <b:recordInfo structure="delimited" field_order="prefix" tag_name="AK9" delimiter_type="inherit_field" count_ignore="no" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" notes="Functional Group Response Trailer" />
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AK901">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Functional Group Acknowledge Code_715 (A/E/P/R; see AK901 error codes)" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="1" />
              <xs:maxLength value="1" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="AK902">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Number of Transaction Sets Included_97 (GE01 of the acknowledged group)" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="AK903">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Number of Received Transaction Sets_123" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="AK904">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Number of Accepted Transaction Sets_2" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_N0">
              <xs:minLength value="1" />
              <xs:maxLength value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="AK905">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Functional Group Syntax Error Code_716 (see AK905-909 error codes)" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="1" />
              <xs:maxLength value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="AK906">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Functional Group Syntax Error Code_716" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="1" />
              <xs:maxLength value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="AK907">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Functional Group Syntax Error Code_716" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="1" />
              <xs:maxLength value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="AK908">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Functional Group Syntax Error Code_716" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="1" />
              <xs:maxLength value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="AK909">
          <xs:annotation>
            <xs:appinfo>
              <b:fieldInfo notes="Functional Group Syntax Error Code_716" />
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="X12_ID">
              <xs:minLength value="1" />
              <xs:maxLength value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- ======================================================================
       Base X12 simple types — transcribed from X12_00603_850.xsd so both
       schemas share identical base-type semantics (all xs:string; EDI type
       enforcement is done by the agreement's validateEDITypes, not the xsd).
       ====================================================================== -->
  <xs:simpleType name="X12_AN">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_ID">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="X12_N0">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
</xs:schema>
